*{
    margin: 0;
    padding:0;
}
#box{
    background-color: rgba(88, 88, 88, 0.648);
    background-image: url('../images/back.png');
    background-size:100%;
}
#resume-button{
    background-color: #8b48e8;
}
#nav-bar, #nav-bar1{
    background-color: rgba(88, 88, 88, 0.648);
}
.nav-box::before{
    content: '';
    height:100%;
    width:100%;
    position:absolute;
    z-index: -1;
    border-radius: 10px;
    transform: scale(0);
    background-color: #8b48e8;
    transition: transform 0.3s ease;
}
.nav-box:hover::before{
    transform: scale(1);
}


