<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57f27d3c4e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..\static\css\style_1.css">
    <title>Dhanurdhar</title>
</head>
<body>
    <main>
        <div id="left-main">
            <div id="box">
                
                <img src="..\static\images\my_photo.jpg" alt="">
            </div>
        </div>
        <div id="right-main">
            <div id="nav-bar">
                <div class="nav-box">
                    <i class="fa-sharp fa-solid fa-house fa-xl" style="color: #ffffff;"></i>
                </div>
                <div class="nav-box">
                    <i class="fa-brands fa-google-scholar fa-xl" style="color: #ffffff;"></i>
                </div>
                <div class="nav-box">
                    <i class="fa-solid fa-wrench fa-xl" style="color: #ffffff;"></i>
                </div>
                <div class="nav-box">
                    <i class="fa-solid fa-briefcase fa-xl" style="color: #fcfcfd;"></i>
                </div>
                <div class="nav-box">
                    <i class="fa-regular fa-envelope fa-xl" style="color: #ffffff;"></i>
                </div>
            </div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati inventore totam temporibus blanditiis cumque provident saepe commodi eligendi incidunt maxime veritatis, quisquam, dolorem ab, nostrum explicabo exercitationem soluta molestiae eius.
            Quam fuga tempore debitis magni porro recusandae sint! Iste, est accusantium veniam eveniet aspernatur provident explicabo corrupti molestias deserunt quas. Aliquid voluptate sapiente sed nemo veniam magnam, deserunt rem voluptatem.
            Quos ut corporis laudantium voluptatum distinctio, doloremque in odio quod veritatis ab mollitia? A dolore minus debitis natus alias similique consequuntur dolor, enim consequatur esse deleniti laudantium odio vero nihil!
            Ad quisquam iste tempora ipsum sapiente accusamus id, neque vitae et? Saepe voluptates hic quam deleniti dolorem! Delectus praesentium illum neque earum cupiditate. Cupiditate accusamus reiciendis qui. Sapiente, animi ipsam.
            Ab libero nihil explicabo, architecto, sunt nam necessitatibus perspiciatis quibusdam optio veritatis, totam sit quasi laboriosam voluptatem voluptate pariatur neque atque qui. Dolorem molestias facilis, enim aut voluptatem doloribus laudantium.
            Debitis voluptatem saepe quia quis fugiat libero officia. Voluptas quos alias dicta fugit iusto voluptates autem voluptatum labore debitis dolorum fugiat optio, magni dolore? Et placeat omnis doloremque fugit error?
            Nobis molestiae nam exercitationem fuga? Nisi quo nostrum ratione magnam reprehenderit nam rem, placeat vitae repudiandae ullam cum explicabo temporibus expedita laudantium repellat, esse accusamus necessitatibus consequatur ab harum alias!
            Eaque porro ipsam ex nostrum ut, illum ratione ducimus totam, mollitia illo pariatur commodi ab? Ullam cupiditate accusantium illum totam eos, voluptas similique! Deserunt natus assumenda beatae vero, aspernatur laudantium?
            Nam, voluptate in ipsum totam eveniet maiores earum corrupti! Unde sint ipsum cumque vitae excepturi reprehenderit tenetur, nulla maxime nemo cupiditate cum deleniti? Dolor perspiciatis ratione, sequi harum quae illo?
            Consequuntur totam veniam dicta doloremque quisquam, consequatur quis sequi accusamus commodi minima voluptatibus enim quidem voluptate ducimus. Enim pariatur nam quidem. Non praesentium sequi explicabo, voluptate maiores ea suscipit vero.
            Placeat quia fugit laboriosam rerum, laudantium officiis architecto error dolore debitis libero incidunt recusandae et aliquid optio! Itaque totam nam voluptates quae ipsam ipsa, facilis animi molestias adipisci. At, fuga!
            Totam, in placeat. Expedita necessitatibus libero voluptate recusandae quisquam natus, quaerat assumenda mollitia voluptates a sapiente itaque animi exercitationem tempora similique ut, perspiciatis repellat consequuntur qui nostrum perferendis, ipsam fugit?
            Repellendus harum quia saepe asperiores doloremque similique eos nemo nihil quasi molestias, eius aliquam magni quibusdam quae voluptate iusto laudantium nostrum atque. Et, harum? Facilis necessitatibus quis consequatur iste nihil.
            Ullam saepe id corporis quaerat repellat beatae, vitae temporibus atque tenetur nostrum quia quas accusamus, consequatur, eius libero doloremque omnis est. Dicta laborum veniam natus quisquam temporibus illo blanditiis voluptate.
            Incidunt assumenda eum, necessitatibus eligendi iure voluptas, labore voluptates impedit, nobis similique veritatis a. Provident tenetur corporis possimus nihil inventore deserunt dignissimos maxime optio. Obcaecati aliquid numquam doloribus doloremque molestiae.
            Soluta quasi obcaecati distinctio repellat! Sequi nobis odit exercitationem impedit laboriosam facere ipsa aliquam quas vitae minus quia tenetur cupiditate, rerum iste, autem sit similique facilis molestiae dolore quasi perferendis.
            Quis asperiores fuga velit eligendi rerum? Molestias accusantium soluta velit quod, nisi fugit quae voluptas atque facilis commodi iste, eum ab labore deleniti et qui suscipit non. Saepe, accusamus beatae?
            Eius saepe beatae maxime alias adipisci itaque, laudantium laboriosam magnam soluta quas nihil sapiente aliquid consequatur necessitatibus eveniet velit nobis quasi sit, ducimus rem quisquam! At modi cumque qui ducimus!
            Nesciunt dolorem minima, quam tempore veritatis accusantium? Quidem ut pariatur recusandae, omnis quia quae ab ipsa eos alias consectetur nobis possimus, accusamus iste assumenda obcaecati quis aut cum tenetur accusantium.
            Asperiores ea culpa rerum non quasi dignissimos eaque praesentium facere, vel, eum nulla, unde ratione molestiae consequatur repudiandae repellat ipsam? Ipsa numquam consequatur vel quasi similique. Modi quisquam sequi dignissimos?
            Saepe quis perferendis consectetur. Ratione alias explicabo optio? Blanditiis cupiditate animi quo, nesciunt omnis expedita laudantium nisi inventore possimus sint hic cumque sequi rerum corrupti error libero ipsa illo id.
            Neque sunt incidunt molestias aliquam, qui magni pariatur unde itaque earum! Quisquam labore voluptatem excepturi dolor atque quae possimus doloremque praesentium dicta? Sed iste, a dolore praesentium non earum eligendi.
            Quaerat dolor, repellat quo ad placeat eligendi! Tenetur esse minus nesciunt! Nostrum, corporis. Tenetur perferendis reiciendis officia qui impedit mollitia, numquam libero dolore sit eligendi, maxime deserunt ab iste vero.
            Amet, nulla doloribus nobis, error laboriosam quos rem odit, corporis quis fuga commodi laudantium modi? Repellendus, corporis quam. A voluptatum totam neque obcaecati accusantium voluptatibus quisquam quia hic quidem voluptates?
            Tempora eius ea, repellat dolor culpa quisquam molestiae ratione nobis nihil quos unde accusamus illum quo asperiores voluptatibus blanditiis enim vitae nesciunt quibusdam saepe incidunt, quia autem sapiente quis. Voluptatem.
            Pariatur voluptatem praesentium officiis non illo assumenda consequatur odio deleniti et ut fuga nulla modi adipisci quis voluptatibus, ratione mollitia, rem, animi dicta quaerat totam laudantium asperiores facere cupiditate? Ipsam!
            Illo rem neque soluta quia cupiditate dolorum, accusamus voluptatum hic commodi delectus quis totam molestias atque sit deleniti ducimus sapiente doloribus, culpa ipsa dicta labore. Ratione consequatur deleniti quaerat deserunt.
            Delectus quae corrupti autem est inventore! Expedita, molestiae inventore, eos quisquam illum aliquam excepturi, voluptate quod facilis eveniet aspernatur? Ullam, dolorum. Corrupti maiores nulla id non similique exercitationem omnis assumenda?
            Culpa porro error eligendi pariatur. Eius, eum explicabo rerum doloremque officiis deserunt vitae temporibus earum? Harum incidunt commodi sequi molestiae vel, facilis iure aperiam impedit doloribus officia iste quae distinctio.
            Dolore vitae eveniet nemo repudiandae officiis ratione! Consectetur itaque autem, molestiae odit vel voluptatem ipsam veritatis vero suscipit delectus accusantium, hic error amet dolorem, neque nam doloremque. Excepturi, iste ipsum!
            Nisi necessitatibus rem ratione, ipsa aperiam eos nihil veritatis, quidem consequuntur illum nobis ex. Amet nisi expedita fuga quia maiores laborum cupiditate incidunt, earum nemo cumque soluta ipsam laudantium quo.
            Nisi reprehenderit minima eius, animi maxime veritatis omnis harum quisquam, veniam incidunt magni deserunt nesciunt, soluta nam quos voluptas possimus consequatur vitae non blanditiis consequuntur sapiente cupiditate deleniti. Delectus, minus.
            Qui, similique culpa vitae atque laboriosam laborum possimus minima nisi nesciunt quam saepe dolores? Rerum, sunt repudiandae! Natus nulla, repudiandae ex quas veritatis quia cumque, illum ad, nisi tempore ipsam.
            Nulla molestias laborum fugiat rem quae quis quo impedit, nam vitae iusto laudantium aliquid? Officiis quae, at voluptates minus repellat ex dignissimos numquam mollitia ad et. Nostrum deserunt reprehenderit maxime.
            Excepturi qui, saepe nemo itaque explicabo aperiam laborum quaerat aliquid magnam sit eligendi repellat? Fugit, deserunt. Saepe, hic quos numquam perferendis at magnam magni iusto harum, velit ducimus incidunt soluta.
            Perspiciatis quos rerum mollitia sint quisquam vero consequuntur debitis corporis assumenda, sequi cum, quae, excepturi officia dolores ad animi vitae possimus? Sint praesentium enim perspiciatis ipsa? Deleniti dolore delectus totam.
            Adipisci provident mollitia veniam, nostrum dolorem autem perferendis rem porro ratione error nihil reiciendis molestias voluptatem asperiores nemo dignissimos praesentium esse ipsum quia facere quae minima consequuntur incidunt vel! Dicta.
            Ex nemo, velit placeat, mollitia dolorum alias soluta ipsa harum et quasi molestias neque voluptas quibusdam consectetur similique magni perspiciatis nam labore aut ratione distinctio, quas dignissimos vero. Maxime, dolores!
            Ipsam, quod? Similique sit veniam quibusdam, quidem esse maxime porro! Cum atque totam incidunt debitis architecto quisquam quasi ratione sunt rerum? Deleniti error voluptates fuga? Facere, nulla. Explicabo, debitis ut.
            Voluptates dignissimos temporibus facere soluta quo itaque, dolorem officiis necessitatibus molestiae magnam doloribus sequi, quisquam eos omnis natus fuga earum eaque consectetur. Laboriosam ex, hic porro eum ipsam eaque iusto.
            Dolores suscipit sapiente illo ratione. Quis, rem? Blanditiis temporibus, fugit tempora ea amet commodi sit quos necessitatibus saepe nisi magni facere assumenda? Doloremque sit reiciendis unde laudantium ex obcaecati sunt!
            Accusamus, architecto suscipit fugiat mollitia corrupti doloremque similique veniam praesentium doloribus, nihil labore aspernatur, fuga ut. Officia dolores qui quis adipisci voluptatem, aliquam commodi. Eos temporibus debitis dicta minima tenetur!
            Est laboriosam, earum laudantium voluptatibus reiciendis, nemo voluptatem molestiae corporis reprehenderit vero et fugit nostrum blanditiis iusto magni possimus? Laboriosam harum nobis commodi et sint nihil blanditiis explicabo magni accusantium!
            Quidem et perspiciatis distinctio! Possimus consequuntur ipsam nisi cum ducimus esse quam ratione quidem at eum quia ad totam, ullam modi minima blanditiis odio voluptas commodi perferendis laudantium cupiditate! Sint.
            Tenetur saepe maxime debitis, accusantium possimus cupiditate vitae nam neque delectus quibusdam aut molestias quisquam. Totam repellendus odio accusamus officiis molestiae repudiandae quam beatae! Alias molestias laborum harum dignissimos quam.
            Quia similique, reiciendis reprehenderit pariatur illum minus nam rem sit vero rerum architecto ullam unde voluptatem sed accusantium hic doloremque corporis explicabo molestias quidem possimus! Ab rerum hic debitis at!
            Molestiae ratione repellendus quae, ducimus debitis earum dolores minus blanditiis praesentium exercitationem eius corrupti nihil inventore sapiente, reprehenderit vitae asperiores qui eveniet. Dolorem fuga perferendis adipisci velit non quas ipsa?
            Pariatur, vero nesciunt ducimus atque eligendi minus facilis omnis velit enim repudiandae a quam, dignissimos aut suscipit esse dolorum et cumque accusamus voluptatem eaque obcaecati voluptatum, accusantium dolores? Nam, tempore!
            Voluptas, quidem. Reprehenderit iusto quia eos doloremque, ipsam porro architecto sint harum debitis? Dignissimos hic libero possimus optio quae officiis porro? Praesentium eaque, cumque ipsam aspernatur sapiente aliquam numquam iusto.
            Accusantium eum quidem unde. Minus excepturi reprehenderit eius labore consequatur nostrum nesciunt eveniet suscipit, consequuntur eos saepe eaque fugiat autem earum recusandae quae architecto dolor deleniti quam facilis nulla sint!
        </div>
    </main>
</body>
</html>