<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57f27d3c4e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="..\static\css\style_1.css">
    <title>Dhanurdhar</title>
</head>
<body class="h-auto lg:h-screen w-[100%] overflow-y-scroll lg:overflow-y-hidden">
    <main class="h-full w-[100%] bg-black text-white block lg:flex lg:flex-row ">
        <div id="nav-bar1" class="lg:hidden h-[48px] md:h-[60px] w-[84%] rounded-[10px] fixed z-[2] left-[8%] top-[25px] flex justify-around items-center">
            <a href="#Home" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                <i class="material-icons  text-[35px]">house</i>
            </a>
            <a href="#About" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                <i class="material-icons  text-[35px]">person</i>
            </a>
            <a href="#Education" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                <i class="material-icons  text-[35px]">history_edu</i>
            </a>
            <a href="#Skills" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                <i class="material-icons  text-[30px]">build</i>
            </a>
            <a href="#Projects" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                <i class="material-icons  text-[35px]">business_center</i>
            </a>
            <a href="#contact" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                <i class="material-icons  text-[30px]">mail</i>
            </a>
        </div>
        <div id="left-main" class=" flex pt-[50px] md:block justify-center items-center h-[600px] md:h-[800px] lg:h-[100%] w-[100%] md:w-[100%] lg:w-[35%]">
            <div id="box" class="h-[90%] w-[80%] md:w-[95%] lg:w-[70%] rounded-[10px] sticky md:top-[15%] md:left-[2.5%] lg:left-[10%] flex flex-col">
                <div id="upper-box" class="h-[50%] md:h-[60%] w-full rounded-[10px] flex items-end justify-center">
                    <img src="static/images/myyy.png" class="h-[90%] w-[70%] md:w-[50%] lg-[70%] xl:w-[70%] rounded-[20px]" alt="">
                </div>
                <div id="lower-box" class="h-[50%] md:h-[40%] lg:h-[50%] w-full rounded-[10px] text-center">
                    <div id="detail-box" class="h-[60%] w-full flex flex-col items-center">
                        <b class="text-[24px] md:text-[28px] pt-[10px] ">Dhanurdhar Sharma</b>
                        <p>Software Engineer | Web Developer <br> Jaipur,Rajasthan, India
                        </p>
                        <div id="social-box" class="h-[35%] w-[70%] md:w-[50%] flex justify-around pt-[20px]">
                            <a href="https://www.linkedin.com/in/dhanurdhar-sharma/" target="_blank" class="h-[90%] w-[22%] flex justify-center items-center decoration-none"><i class="fa-brands fa-linkedin-in fa-xl" style="color: #ffffff;"></i></a>
                            <a href="https://github.com/Dhanurdhar-Sharma" target="_blank" class="h-[90%] w-[22%] flex justify-center items-center decoration-none"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a>
                            <a href="#" class="h-[90%] w-[22%] flex justify-center items-center decoration-none"><i class="fa-brands fa-x-twitter fa-xl" style="color: #ffffff;"></i></a>
                            <a href="mailto:dhanurdhar1724@gmail.com" class="h-[90%] w-[22%] flex justify-center items-center decoration-none"><i class="fa-regular fa-envelope fa-xl" style="color: #ffffff;"></i></a>
                        </div>
                    </div> 
                    <div id="resume-section" class="h-[40%] w-full flex items-center justify-center">
                        <a id="resume-button" href="..\static\images\Dhanurdhar's Resume.pdf" target="_blank" class="h-[50%] w-[70%] flex items-center justify-center rounded-[15px] text-[20px]">Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-main" class="text-center h-auto  md:h-[100%] w-[100%] lg:w-[65%] lg:overflow-y-scroll">
            <div id="nav-bar" class="hidden md:hidden lg:flex z-[2] h-[50px] w-[360px] rounded-[10px] sticky left-[10%] top-[25px] justify-around items-center">
                <a href="#Home" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                    <i class="material-icons  text-[35px]">house</i>
                </a>
                <a href="#About" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                    <i class="material-icons  text-[35px]">person</i>
                </a>
                <a href="#Education" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                    <i class="material-icons  text-[35px]">history_edu</i>
                </a>
                <a href="#Skills" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                    <i class="material-icons  text-[30px]">build</i>
                </a>
                <a href="#Projects" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                    <i class="material-icons  text-[35px]">business_center</i>
                </a>
                <a href="#Contact" class="nav-box h-[90%] w-[16%] rounded-[10px] flex justify-center items-center relative">
                    <i class="material-icons  text-[30px]">mail</i>
                </a>
            </div>
            <section id="Home" class="h-auto w-full pt-[50px] pl-[5%] pb-[30px] flex flex-col items-center lg:block">
                <p class="h-auto w-[90%] md:w-[80%] lg:w-[70%] text-[48px] lg:text-[68px] text-center lg:text-start font-bold">Transforming Your Ideas into <span class="text-purple-500">Reality</span></p>
                <p class="h-auto w-[90%] md:w-[80%] lg:w-[70%] text-[18px] text-center lg:text-start">Passionate about creating intuitive and engaging user experiences.<br> Specialize in transforming ideas into beautifully crafted products.</p>
                <div id="showcase-box" class="h-auto w-[90%] md:w-[80%] lg:w-[70%]  flex justify-center lg:justify-start">
                    <div class="showcase-box w-[110px] pt-[20px]">
                        <b class="text-[60px]">+10</b><br><p class="text-[18px] text-start">Completed Project</p>
                    </div>
                    <div class="showcase-box w-[110px] ml-[20px] pt-[20px]">
                        <b class="text-[60px]">2</b><br><p class="text-[18px] text-start">Worldwide Client</p>
                    </div>
                </div>
                <div id="about-lower" class="h-auto w-[90%] md:w-[80%] lg:w-[70%] flex items-center justify-center lg:justify-start mt-[25px]">
                    <div id="talk-button" class="h-[45px] w-[150px] rounded-[10px] bg-[#8b48e8]">
                        <a href="#Contact" class="h-[100%] w-[100%] flex justify-center items-center text-[14px]">Let's Talk</a>
                    </div>
                    <div id="work-button" class="h-[45px] w-[150px] rounded-[10px] hover:text-[#8b48e8] text-[14px] hover:text-[16px] ml-[5px]">
                        <a href="#Projects" class="h-[100%] w-[100%] flex justify-center items-center">My Work <span class="ml-[10px]"><i class="fa-solid fa-arrow-right fa-lg" style="color: #ffffff;"></i></span></a>
                    </div>
                </div>
            </section>
            <section id="About" class="h-auto w-full pt-[50px] pl-[5%] pb-[20px] flex flex-col items-center lg:block">
                <p class="h-auto w-[90%] md:w-[80%] lg:w-[70%] text-[48px] lg:text-[68px] text-center lg:text-start font-bold">Know Me<span class="text-purple-500"> Better</span></p>
                <p class="h-auto w-[90%] md:w-[80%] lg:w-[70%] text-[18px] text-start">I'm Dhanurdhar Sharma, a 20-year-old tech enthusiast and engineer, currently pursuing my Bachelor's Degree in Computer Science and Engineering. My curiosity drives me to continuously explore and learn new technologies, and yes, I proudly identify as a hardcore Linux fan! When I'm not diving into code, you'll fine me traveling, sipping on a refreshing cup of coffee at my cafe, or hanging out with my dogs. Join me in this adventure as I navigate the ever-evolving world of tech and innovation!</p>
                <ul class="h-auto w-[90%] md:w-[80%] lg:w-[70%]  text-start">
                    <li><b class="text-purple-500">Full Name</b> : <b>Dhanurdhar Sharma</b></li>
                    <li><b class="text-purple-500">Email</b> : <b>dhanurdhar1724@gmail.com</b></li>
                    <li><b class="text-purple-500">Age</b> : <b>20 (at Present)</b></li>
                    <li><b class="text-purple-500">HomeTown</b> : <b>Jaipur</b></li>
                </ul>
                <div id="hire_button-button" class="h-[45px] w-[150px] rounded-[10px] bg-[#8b48e8] mt-[20px]">
                    <a href="#Contact" class="h-[100%] w-[100%] flex justify-center items-center text-[14px]">Hire Me</a>
                </div>
            </section>
            <section id="Education" class="h-auto w-full pt-[50px] pl-[5%] pb-[20px] flex flex-col items-center lg:block">
                <p class="h-auto w-[90%] md:w-[80%] lg:w-[80%] text-[48px] lg:text-[64px] text-center lg:text-start font-bold">My Educational <span class="text-purple-500">Journey</span></p>
                <div id="edu-box" class="h-auto w-[90%] md:w-[80%] lg:w-[70%] text-[18px] flex">
                    <div id="left-edu-box" class="mt-[30px] flex flex-col items-center w-[10%]">
                        <div class="circle bg-purple-500 rounded-[50%] h-[25px] w-[25px]"></div>
                        <div class="line bg-[#FFFFFF] w-[1px] h-[100px]"></div>
                        <div class="circle bg-purple-500 rounded-[50%] h-[25px] w-[25px]"></div>
                        <div class="line bg-[#FFFFFF] w-[1px] h-[100px]"></div>
                        <div class="circle bg-purple-500 rounded-[50%] h-[25px] w-[25px]"></div>
                        <div class="line bg-[#FFFFFF] w-[1px] h-[100px]"></div>
                    </div>
                    <div id="right-edu-box" class="mt-[30px] w-[90%] text-start">
                        <div class="edu-box h-[125px] w-[100%]">
                            <b class="text-[24px] text-purple-500">B.Tech (CSE)</b>
                            <p class="text-[18px] text-white"><span><i class="fa-regular fa-calendar fa-lg" style="color: #ffffff;"></i> </span>  2022-2026 (Persuing)</p>
                            <p class="text-[18px] text-gray-300">University of Engineering and Management, Jaipur</p>
                        </div>
                        <div class="edu-box h-[125px] w-[100%]">
                            <b class="text-[24px] text-purple-500">Class 12 (RBSE)</b>
                            <p class="text-[18px] text-white"><span><i class="fa-regular fa-calendar fa-lg" style="color: #ffffff;"></i> </span>2021-2022</p>
                            <p class="text-[18px] text-gray-300">Shri Maheshwari Sr. Sec. School, Jaipur</p>
                        </div>
                        <div class="edu-box h-[125px] w-[100%]">
                            <b class="text-[24px] text-purple-500">Class 10 (RBSE)</b>
                            <p class="text-[18px] text-white"><span><i class="fa-regular fa-calendar fa-lg" style="color: #ffffff;"></i> </span>2019-2020</p>
                            <p class="text-[18px] text-gray-300">Ameya Public Sr. Sec. School, Jaipur</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="Skills" class="h-auto w-full pt-[50px] pl-[5%] pb-[20px] flex flex-col items-center lg:block">
                <p class="h-auto w-[90%] md:w-[80%] lg:w-[80%] text-[48px] lg:text-[64px] text-center lg:text-start font-bold">My Skill <span class="text-purple-500">Sets</span></p>
                <div id="skill-box" class="h-[420px] w-[90%] md:w-[80%] lg:w-[70%] mt-[15px] text-start">
                    <div class="progress-skill h-[80px] w-full">
                        <div class="skill-name h-[50%] w-full text-[24px] text-start flex items-end pl-[15px] ">HTML</div>
                        <div class="skill-bar h-[50%] w-full">
                            <div class="bar h-[60%] w-full rounded-[25px] bg-white">
                                <div class="progress h-full w-[90%] rounded-[25px] bg-purple-500 flex justify-end items-center"><span class="pr-[5px]">90%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-skill h-[80px] w-full">
                        <div class="skill-name h-[50%] w-full text-[24px] text-start flex items-end pl-[15px] ">Tailwind CSS</div>
                        <div class="skill-bar h-[50%] w-full">
                            <div class="bar h-[60%] w-full rounded-[25px] bg-white">
                                <div class="progress h-full w-[80%] rounded-[25px] bg-purple-500 flex justify-end items-center"><span class="pr-[5px]">80%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-skill h-[80px] w-full">
                        <div class="skill-name h-[50%] w-full text-[24px] text-start flex items-end pl-[15px] ">Python</div>
                        <div class="skill-bar h-[50%] w-full">
                            <div class="bar h-[60%] w-full rounded-[25px] bg-white">
                                <div class="progress h-full w-[42%] rounded-[25px] bg-purple-500 flex justify-end items-center"><span class="pr-[5px]">72%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-skill h-[80px] w-full">
                        <div class="skill-name h-[50%] w-full text-[24px] text-start flex items-end pl-[15px] ">C</div>
                        <div class="skill-bar h-[50%] w-full">
                            <div class="bar h-[60%] w-full rounded-[25px] bg-white">
                                <div class="progress h-full w-[68%] rounded-[25px] bg-purple-500 flex justify-end items-center"><span class="pr-[5px]">68%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-skill h-[80px] w-full">
                        <div class="skill-name h-[50%] w-full text-[24px] text-start flex items-end pl-[15px] ">Javascript</div>
                        <div class="skill-bar h-[50%] w-full">
                            <div class="bar h-[60%] w-full rounded-[25px] bg-white">
                                <div class="progress h-full w-[60%] rounded-[25px] bg-purple-500 flex justify-end items-center"><span class="pr-[5px]">60%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="Projects" class="h-auto w-full pt-[50px] pl-[5%] pb-[20px] flex flex-col items-center lg:block">
    <p class="h-auto w-[90%] md:w-[80%] lg:w-[80%] text-[48px] lg:text-[64px] text-center lg:text-start font-bold">Recent Projects and <span class="text-purple-500">Achivements</span></p>
    <div id="project-showcase-box" class="h-auto w-[90%] md:w-[90%] lg:w-[70%] mt-[15px] flex flex-col justify-around">
        <div class="project-showcase-row h-auto w-[100%] flex flex-col md:flex-row lg:flex-row xl-flex-row  items-center justify-around ">
            <a href="#" class="project-box h-[300px] w-[300px] bg-[#2c2d2f] rounded-[15px] flex flex-col group mb-[10px] md:mb-[0px] lg:mb-[0px] xl:mb-[0px]">
                <div class="project-img-box h-[70%] w-full rounded-t-[16px] overflow-hidden bg-pink-400">
                    <img src="..\static\images\medical.png"  class="h-[100%] w-[100%] transform transition-transform duration-300 ease-in-out group-hover:scale-[110%] " alt="project-image">
                </div>
                <div class="project-discription-box h-[30%] w-full rounded-b-[16px] text-start">
                    <b class="text-[24px] group-hover:text-purple-500 ml-[15px] mt-[10px]">MediQ</b>
                    <p class="text-[16px] text-gray-300 ml-[15px]">Online Medical Shop</p>
                </div>
            </a>
            <a href="#" class="project-box h-[300px] w-[300px] bg-[#2c2d2f] rounded-[15px] flex flex-col group">
                <div class="project-img-box h-[70%] w-full rounded-t-[16px] overflow-hidden bg-pink-400">
                    <img src="..\static\images\lms.jpg"  class="h-[100%] w-[100%] transform transition-transform duration-300 ease-in-out group-hover:scale-[110%] " alt="project-image">
                </div>
                <div class="project-discription-box h-[30%] w-full rounded-b-[16px] text-start">
                    <b class="text-[24px] group-hover:text-purple-500 ml-[15px] mt-[10px]">LMS</b>
                    <p class="text-[16px] text-gray-300 ml-[15px]">Smarter way to manage Library</p>
                </div>
            </a>
        </div>
        <div class="project-showcase-row h-auto w-[100%] mt-[15px] flex flex-col md:flex-row lg:flex-row xl-flex-row items-center justify-around">
            <a href="#" class="project-box h-[300px] w-[300px] bg-[#2c2d2f] rounded-[15px] flex flex-col group mb-[10px] md:mb-[0px] lg:mb-[0px] xl:mb-[0px]">
                <div class="project-img-box h-[70%] w-full rounded-t-[16px] overflow-hidden bg-pink-400">
                    <img src="..\static\images\iot.jpg"  class="h-[100%] w-[100%] transform transition-transform duration-300 ease-in-out group-hover:scale-[110%] " alt="project-image">
                </div>
                <div class="project-discription-box h-[30%] w-full rounded-b-[16px] text-start">
                    <b class="text-[24px] group-hover:text-purple-500 ml-[15px] mt-[10px]">SHM</b>
                    <p class="text-[16px] text-gray-300 ml-[15px]">Smart Home Maker</p>
                </div>
            </a>
            <a href="C:/Users/dhanu/Documents/VS%20CODE/websites/index.html" class="project-box h-[300px] w-[300px] bg-[#2c2d2f] rounded-[15px] flex flex-col group">
                <div class="project-img-box h-[70%] w-full rounded-t-[16px] overflow-hidden bg-pink-400">
                    <img src="..\static\images\web1.png"  class="h-[100%] w-[100%] transform transition-transform duration-300 ease-in-out group-hover:scale-[110%] " alt="project-image">
                </div>
                <div class="project-discription-box h-[30%] w-full rounded-b-[16px] text-start">
                    <b class="text-[24px] group-hover:text-purple-500 ml-[15px] mt-[10px]">Web Portfolio</b>
                    <p class="text-[16px] text-gray-300 ml-[15px]">Light Theme Portfolio Design</p>
                </div>
            </a>
        </div>
    </div>
    
            </section>
            <section id="Contact" class="h-auto w-full pt-[50px] pl-[5%] pb-[20px] flex flex-col items-center lg:block">
                <p class="h-auto w-[90%] md:w-[80%] lg:w-[80%] text-[48px] lg:text-[64px] text-center lg:text-start font-bold">Let’s Create Something<span class="text-purple-500"> Amazing</span></p>
                <form id="contact-box" class="h-auto w-[90%] pl-[5%] pt-[20px] pb-[30px] mt-[40px] md:w-[80%] lg:w-[80%] text-[18px] bg-[#2c2d2f] text-start rounded-[15px]">
                    <label for="name">Name :</label><br>
                    <input type="text" placeholder="Your Full Name" class="focus:outline-none focus:ring-2 focus:ring-purple-500 bg-gray-500 pl-[10px] h-[35px] w-[90%] rounded-[10px]" name="Fname" required><br><br>
                    <label for="Email">Email :</label><br>
                    <input type="email" placeholder="Your Email" class="focus:outline-none focus:ring-2 focus:ring-purple-500 bg-gray-500 pl-[10px] h-[35px] w-[90%] rounded-[10px]" name="email" required><br><br>
                    <label for="message">Message :</label>
                    <textarea name="message" id="message" class="focus:outline-none focus:ring-2 focus:ring-purple-500 bg-gray-500 pl-[10px] h-[150px] w-[90%] rounded-[10px]" required></textarea><br><br>
                    <input type="submit" value="send" class="bg-purple-500 text-center pl-[10px] h-[30px] w-[90%] rounded-[10px]">
                </form>
            </section>
            <hr class="mt-[60px] h-[1px] bg-purple-500 border-none">
            <p class="text-purple-500 mt-[10px] pb-[10px]">&copy; Copyright Dhanurdhar Sharma. All rights reserved.</p>
         </div>
    </main>
</body>
</html>
